.lx-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 30px;
  list-style: none;
  border-bottom: $menu-border-width solid $menu-border-color;
  box-shadow: $menu-box-shadow;
  > .lx-menu-item {
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;
    &:hover,
    &:focus {
      text-decoration: none;
    }
    &.is-disabled {
      color: $menu-item-disabled-color;
      pointer-events: none;
      cursor: default;
    }
    &.is-active,
    &:hover {
      color: $menu-item-active-color;
      border-bottom: $menu-item-active-border-width solid
        $menu-item-active-color;
    }
  }
  .lx-submenu-item {
    position: relative;
    .lx-submenu-title {
      display: flex;
      align-items: center;
    }
    .arrow-icon {
      transition: transform 0.25s ease-in-out;
      margin-left: 3px;
    }
    &:hover {
      .arrow-icon {
        transform: rotate(180deg);
      }
    }
  }
  .is-vertical {
    .arrow-icon {
      transform: rotate(0deg) !important;
    }
  }
  .is-vertical.is-opened {
    display: block;
    .arrow-icon {
      transform: rotate(180deg) !important;
    }
  }
  .lx-submenu {
    display: none;
    list-style: none;
    padding-left: 0;
    white-space: nowrap;
    .lx-menu-item {
      padding: $menu-item-padding-y $menu-item-padding-x;
      cursor: pointer;
      transition: $menu-transition;
      color: $body-color;
      &.is-active,
      &:hover {
        color: $menu-item-active-color !important;
      }
      &.is-disabled {
        color: $menu-item-disabled-color;
        pointer-events: none;
        cursor: default;
      }
    }
  }
  .lx-submenu.menu-opened {
    display: block;
  }
}

.lx-menu-horizontal {
  > .lx-menu-item {
    border-bottom: $menu-item-active-border-width solid transparent;
  }
  .lx-submenu {
    position: absolute;
    background: $white;
    z-index: 100;
    top: calc(100% + 8px);
    left: 0;
    border: $menu-border-width solid $menu-border-color;
    box-shadow: $submenu-box-shadow;
  }
}

.lx-menu-vertical {
  flex-direction: column;
  border-bottom: 0;
  border-right: $menu-border-width solid $menu-border-color;
  .lx-menu-item {
    border-left: $menu-item-active-border-width solid transparent;
    &.is-active,
    &:hover {
      color: $menu-item-active-color;
      border-bottom: 0;
      border-left: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }
}
